/*Colores*/
/*Espacios*/
/*Font Size*/
/*Img size*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

a {
  text-decoration: none;
  color: black; }

.menu__lista {
  list-style: none; }

.sublista {
  list-style: none; }

.encabezado {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #ededed40; }

.logo {
  object-fit: contain;
  height: 120px;
  width: 200px; }

.menu__lista {
  display: flex;
  gap: 3rem; }

.lista a {
  padding: 2rem;
  display: block;
  font-size: 1.6em;
  transition: 0.5s; }
  .lista a:hover {
    color: white; }

.sublista {
  display: none;
  position: absolute;
  background-color: #ededed40; }

.lista:hover .sublista {
  display: block; }

footer {
  display: flex;
  background-color: #ededed40;
  height: 8em;
  align-items: center;
  justify-content: space-around; }

.redes__tx {
  padding: 0.5rem; }

.redes__img {
  height: 37px;
  width: 37px; }

.tyc {
  font-size: 1.6em;
  font-family: 'Times New Roman', Times, serif; }

.contenedor {
  max-width: 1200px;
  min-height: 100vh; }

.contenedor__formulario {
  max-width: 1200px;
  min-height: 100vh;
  margin: 5rem; }

.titulo {
  text-align: center; }

.textarea__responsive {
  font-size: 2.2em;
  height: 250px;
  width: 450px; }

.galeria {
  max-width: 800px;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr,1fr,1fr;
  grid-template-rows: 1fr,1fr,1fr;
  gap: 2rem;
  padding: 3rem; }

.tarjeta1, .tarjeta2, .tarjeta3, .tarjeta4, .tarjeta5, .tarjeta6, .tarjeta7, .tarjeta8, .tarjeta9 {
  border-radius: 1rem;
  min-height: 300px;
  min-width: 300px;
  background-position: center;
  font-size: 2.2em;
  text-align: center;
  align-content: flex-end;
  display: grid;
  background-size: cover;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
  transition: 1s; }
  .tarjeta1:hover, .tarjeta2:hover, .tarjeta3:hover, .tarjeta4:hover, .tarjeta5:hover, .tarjeta6:hover, .tarjeta7:hover, .tarjeta8:hover, .tarjeta9:hover {
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4); }

.tarjeta1 {
  grid-column: 1/2;
  background-image: url(../img/newborn/Mateo17.jpg); }
  .tarjeta1:hover {
    background-image: url(../img/newborn/Mateo6.jpg); }

.tarjeta2 {
  grid-column: 2/3;
  background-image: url(../img/newborn/Mateo31.jpg); }
  .tarjeta2:hover {
    background-image: url(../img/newborn/Mateo8.jpg); }

.tarjeta3 {
  grid-column: 3/4;
  background-image: url(../img/newborn/Mateo40.jpg); }
  .tarjeta3:hover {
    background-image: url(../img/newborn/Mateo9.jpg); }

.tarjeta4 {
  grid-column: 1/2;
  grid-row: 2/3;
  background-image: url(../img/baby/Vera40.jpg); }
  .tarjeta4:hover {
    background-image: url(../img/baby/Vera41.jpg); }

.tarjeta5 {
  grid-column: 2/3;
  grid-row: 2/3;
  background-image: url(../img/baby/Vera11.jpg); }
  .tarjeta5:hover {
    background-image: url(../img/baby/Vera43.jpg); }

.tarjeta6 {
  grid-column: 3/4;
  grid-row: 2/3;
  background-image: url(../img/baby/Vera38.jpg); }
  .tarjeta6:hover {
    background-image: url(../img/baby/Vera50.jpg); }

.tarjeta7 {
  grid-column: 1/2;
  grid-row: 3/4;
  background-image: url(../img/cakesmash/Michelle44.jpg); }
  .tarjeta7:hover {
    background-image: url(../img/cakesmash/Michelle50.jpg); }

.tarjeta8 {
  grid-column: 2/3;
  grid-row: 3/4;
  background-image: url(../img/cakesmash/Michelle46.jpg); }
  .tarjeta8:hover {
    background-image: url(../img/cakesmash/Michelle51.jpg); }

.tarjeta9 {
  grid-column: 3/4;
  grid-row: 3/4;
  background-image: url(../img/cakesmash/Michelle49.jpg); }
  .tarjeta9:hover {
    background-image: url(../img/cakesmash/Michelle52.jpg); }

.grid {
  max-width: 800px;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr, 1fr, 1fr;
  grid-template-rows: 1fr, 1fr, 1fr;
  gap: 2rem;
  padding: 3rem; }

.newborn1, .newborn2, .newborn3, .newborn4, .baby1, .baby2, .baby3, .baby4, .cakesmash1, .cakesmash2, .cakesmash3, .cakesmash4 {
  border-radius: 1rem;
  min-height: 300px;
  min-width: 300px;
  background-position: center;
  background-size: cover;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
  transition: 1s;
  text-align: center;
  align-content: flex-end;
  display: grid;
  font-size: 2.2em; }
  .newborn1:hover, .newborn2:hover, .newborn3:hover, .newborn4:hover, .baby1:hover, .baby2:hover, .baby3:hover, .baby4:hover, .cakesmash1:hover, .cakesmash2:hover, .cakesmash3:hover, .cakesmash4:hover {
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4); }

.newborn1 {
  background-image: url(../img/newborn/Mateo17.jpg);
  grid-column: 1/3; }

.newborn1:hover {
  background-image: url(../img/newborn/Mateo31.jpg); }

.newborn2 {
  background-image: url(../img/newborn/Mateo40.jpg);
  grid-column: 3/4;
  grid-row: 1/3; }

.newborn2:hover {
  background-image: url(../img/newborn/Mateo6.jpg); }

.newborn3 {
  background-image: url(../img/newborn/Mateo8.jpg);
  grid-column: 1/3;
  grid-row: 2/3; }

.newborn3:hover {
  background-image: url(../img/newborn/Mateo9.jpg); }

.newborn4 {
  background-image: url(../img/newborn/Mateo44.jpg);
  grid-column: 1/4;
  grid-row: 3/4; }

.newborn4:hover {
  background-image: url(../img/newborn/Mateo45.jpg); }

/*Baby*/
.baby1 {
  background-image: url(../img/baby/Vera11.jpg);
  grid-column: 1/3; }

.baby1:hover {
  background-image: url(../img/baby/Vera32.jpg); }

.baby2 {
  background-image: url(../img/baby/Vera38.jpg);
  grid-column: 3/4;
  grid-row: 1/3; }

.baby2:hover {
  background-image: url(../img/baby/Vera40.jpg); }

.baby3 {
  background-image: url(../img/baby/Vera41.jpg);
  grid-column: 1/3;
  grid-row: 2/3; }

.baby3:hover {
  background-image: url(../img/baby/Vera43.jpg); }

.baby4 {
  background-image: url(../img/baby/Vera50.jpg);
  grid-column: 1/4;
  grid-row: 3/4; }

.baby4:hover {
  background-image: url(../img/baby/Vera8.jpg); }

/* CAKESMASH */
.cakesmash1 {
  background-image: url(../img/cakesmash/Michelle31.jpg);
  grid-column: 1/3; }

.cakesmash1:hover {
  background-image: url(../img/cakesmash/Michelle44.jpg); }

.cakesmash2 {
  background-image: url(../img/cakesmash/Michelle46.jpg);
  grid-column: 3/4;
  grid-row: 1/3; }

.cakesmash2:hover {
  background-image: url(../img/cakesmash/Michelle49.jpg); }

.cakesmash3 {
  background-image: url(../img/cakesmash/Michelle50.jpg);
  grid-column: 1/3;
  grid-row: 2/3; }

.cakesmash3:hover {
  background-image: url(../img/cakesmash/Michelle51.jpg); }

.cakesmash4 {
  background-image: url(../img/cakesmash/Michelle52.jpg);
  grid-column: 1/4;
  grid-row: 3/4; }

.cakesmash4:hover {
  background-image: url(../img/cakesmash/Michelle53.jpg); }

@media screen and (max-width: 800px) {
  .encabezado {
    flex-direction: column; } }

@media screen and (max-width: 670px) {
  .galeria {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(9, 1fr); }
  .tarjeta1 {
    grid-column: 1/2;
    grid-row: 1/2; }
  .tarjeta2 {
    grid-column: 1/2;
    grid-row: 2/3; }
  .tarjeta3 {
    grid-column: 1/2;
    grid-row: 3/4; }
  .tarjeta4 {
    grid-column: 1/2;
    grid-row: 4/5; }
  .tarjeta5 {
    grid-column: 1/2;
    grid-row: 5/6; }
  .tarjeta6 {
    grid-column: 1/2;
    grid-row: 6/7; }
  .tarjeta7 {
    grid-column: 1/2;
    grid-row: 7/8; }
  .tarjeta8 {
    grid-column: 1/2;
    grid-row: 8/9; }
  .tarjeta9 {
    grid-column: 1/2;
    grid-row: 9/10; }
  .textarea__responsive {
    height: 175px;
    width: 300px; }
  .menulista {
    gap: 1rem; } }
