.contenedor__formulario{
    max-width: 1200px;
    min-height: 100vh;
    margin: 5rem;
}

.titulo{
    text-align: center;
}

.textarea__responsive{
    font-size: $FontMedio;
    height: 250px;
    width: 450px;
}