.grid{
    max-width: 800px;
    margin:auto;
    display: grid;
    grid-template-columns: 1fr, 1fr, 1fr;
    grid-template-rows: 1fr, 1fr, 1fr;
    gap: $EspacioChico;
    padding: $EspacioMedio;
}

.newborn1, .newborn2, .newborn3, .newborn4, .baby1, .baby2, .baby3, .baby4, .cakesmash1, .cakesmash2, .cakesmash3, .cakesmash4{
    border-radius: $EspacioXChico;
    min-height: $Img;
    min-width: $Img;
    background-position: center;
    background-size: cover;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
    transition: 1s;
    text-align: center;
    align-content: flex-end;
    display: grid;
    font-size: $FontMedio;
    &:hover{
        box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
    }
}

/*Newborn*/
.newborn1{
    background-image: url(../img/newborn/Mateo17.jpg);
    grid-column: 1/3;
        &:hover{
            background-image: url(../img/newborn/Mateo31.jpg);
        }
    }
.newborn2{
    background-image: url(../img/newborn/Mateo40.jpg);
    grid-column: 3/4;
    grid-row: 1/3;
        &:hover{
            background-image: url(../img/newborn/Mateo6.jpg);
        }
    }
.newborn3{
    background-image: url(../img/newborn/Mateo8.jpg);
    grid-column: 1/3;
    grid-row: 2/3;
        &:hover{
            background-image: url(../img/newborn/Mateo9.jpg);
        }
    }
.newborn4{
    background-image: url(../img/newborn/Mateo44.jpg);
    grid-column: 1/4;
    grid-row: 3/4;
        &:hover{
            background-image: url(../img/newborn/Mateo45.jpg);
        }
    }

/*Baby*/
.baby1{
    background-image: url(../img/baby/Vera11.jpg);
    grid-column: 1/3;
        &:hover{
            background-image: url(../img/baby/Vera32.jpg);
        }
    }
.baby2{
    background-image: url(../img/baby/Vera38.jpg);
    grid-column: 3/4;
    grid-row: 1/3;
        &:hover{
            background-image: url(../img/baby/Vera40.jpg);
        }
    }
.baby3{
    background-image: url(../img/baby/Vera41.jpg);
    grid-column: 1/3;
    grid-row: 2/3;
        &:hover{
            background-image: url(../img/baby/Vera43.jpg);
        }
    }
.baby4{
    background-image: url(../img/baby/Vera50.jpg);
    grid-column: 1/4;
    grid-row: 3/4;
        &:hover{
            background-image: url(../img/baby/Vera8.jpg);
        }
    }

/* CAKESMASH */
.cakesmash1{
    background-image: url(../img/cakesmash/Michelle31.jpg);
    grid-column: 1/3;
        &:hover{
            background-image: url(../img/cakesmash/Michelle44.jpg);
        }
    }
.cakesmash2{
    background-image: url(../img/cakesmash/Michelle46.jpg);
    grid-column: 3/4;
    grid-row: 1/3;
        &:hover{
            background-image: url(../img/cakesmash/Michelle49.jpg);
        }
    }
.cakesmash3{
    background-image: url(../img/cakesmash/Michelle50.jpg);
    grid-column: 1/3;
    grid-row: 2/3;
        &:hover{
            background-image: url(../img/cakesmash/Michelle51.jpg);
        }
    }
.cakesmash4{
    background-image: url(../img/cakesmash/Michelle52.jpg);
    grid-column: 1/4;
    grid-row: 3/4;
        &:hover{
            background-image: url(../img/cakesmash/Michelle53.jpg);
        }
    }