/*Colores*/
$ColorPrimario: #ededed40;
$ColorSecundario: #ededed;

/*Espacios*/
$EspacioGrande: 4rem;
$EspacioMedio: 3rem;
$EspacioChico: 2rem;
$EspacioXChico: 1rem;

/*Font Size*/
$FontGrande: 3.2em;
$FontMedio: 2.2em;
$FontChico: 1.6em;
$FontXChico: 1.2em;

/*Img size*/
$Img: 300px;
